body {
  margin: 0;
  font-family: "Zain", sans-serif;
  padding: 0;
}

#brand-logo {
  display: block;
  margin: 20px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input {
  font-family: "Zain", sans-serif;
  font-size: 15px;
}

#products-in-cart-wrapper {
  box-shadow: 10px 10px 10px black;
  border: 2px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

#product-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px dotted black;
  width: 100%;
  height: auto;
  gap: 10px;
}

#product-1-image {
  border: 2px dotted black;
  width: 150px;
  height: auto;
  margin: 10px;
}
