body {
  margin: 0;
  font-family: "Zain", sans-serif;
  padding-top: 80px;
  color: #283618;
  background-color: #fefae0;
}

#brand-logo {
  display: block;
  margin: 20px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 20px;
  background-color: #283618;
  border-bottom: 1px solid #ddd;
  position: fixed; /* keeps it fixed on the screen */
  top: 0; /* sticks it to the top */
  left: 0; /* aligns to the left */
  width: 97.5%;
  height: 50px; /* full width */
  z-index: 1000;
}

#search-bar::placeholder{
  color: #283618;
}


#search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fefae0;
  color: #283618;
}

input {
  font-family: "Zain", sans-serif;
  font-size: 15px;
}

#products-in-cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 100px;
  width: 500px;
  height: auto;
  gap: 10px;
  background-color: #606c38;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #283618;
}

.product-image {
  width: 150px;
  height: auto;
  margin: 10px;
  border-radius: 20px;
}

.price {
  font-size: 23px;
  color: #dda15e;
  margin-left: 20px;
}

h1 {
  font-size: 30px;
  margin: 0;
}
