.header-icon-size {
    width: 30px;
    height: auto;
}

#brand-logo {
    display: block;
    margin: 20px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

body {
    margin: 0;
    font-family: "Zain", sans-serif;

}

input{
    font-family: "Zain", sans-serif;
    font-size: 15px;
}

#products-in-cart-wrapper {
    box-shadow: 10px 10px 10px black;
    border: dotted black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin: 20px;
    padding: 5px 20px;
}

